<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the paper trader</title>
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">
    <link rel="icon" href="static/favicon.png">
</head>
<body>
    {% for message in get_flashed_messages() %}
    <div class="alert" role="alert">
      {{message}}
    {% endfor %}
    </div>
    <h1 class="heading">Welcome to the paper trading bot</h1>

    <fieldset>
      <legend>Asset list</legend>
      <ul>
        <li>Cash balance: ${{money}}</li>
        <li>Stock current value: ${{stock_value}}</li>
      </ul>
    </fieldset>

    <fieldset>
      <legend>Current stock list</legend>
      <ul>
        {% for stock in tickers %}
          {% set stock_name = stock[0] %}
          {% set qty = stock[1] %}
          {% set price = stock[2] %}
          {% set value = stock[3] %}
          <li>
            Ticker: {{ stock_name }} | Quantity {{ qty }} | Current price: {{price}} | Value: {{ value }}
          </li>
        {% endfor %}
      </ul>
    </fieldset>

  <img src="/static/graph.png" alt="Graph of assets">

  </fieldset>
    <form class="buy" action="/buy-order" method="POST">
        <fieldset>
            <legend>Buy stock</legend>
            <label for="buy">Ticker symbol: </label>
            <input type="text" id="buy" name="buy-stock"><br>
            <label for="quantity">Unit amount: </label>
            <input type="text" id="quantity" name="quantity"><br>
            <input type="submit" value="Submit">
        </fieldset>
    </form>

      <label class="info">
        Created using Flask, Python, Matplotlib, and the Alpaca API with alpaca-py
      </label>

    <form class="sell" action="/sell-order" method="POST">
        <fieldset>
            <legend>Sell stock</legend>
            <label for="sell">Ticker symbol: </label>
            <input type="text" id="sell" name="sell-stock"><br>
            <label for="quantity">Unit amount: </label>
            <input type="text" id="quantity" name="quantity"><br>
            <input type="submit" value="Submit">
        </fieldset>
    </form>
</body>
</html>
